<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.presale.ActivityMapper">
    <!--映射-->
    <resultMap id="ActivityMap" type="com.study.model.pojo.presale.Activity">
        <id column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_start" property="activityStart"/>
        <result column="activity_over" property="activityOver"/>
        <result column="activity_address" property="activityAddress"/>
        <result column="activity_type" property="activityType"/>
        <result column="activity_state" property="activityState"/>
        <result column="activity_plan_cost" property="activityPlanCost"/>
        <result column="activity_Reality_cost" property="activityRealityCost"/>
        <result column="activity_plan" property="activityPlan"/>
        <result column="activity_plan_income" property="activityPlanIncome"/>
        <result column="activity_reality_income" property="activityRealityIncome"/>
        <!--外键映射-->
        <association property="users" javaType="com.study.model.pojo.power.Users">
            <id column="users_id" property="usersId"/>
            <result column="users_name" property="usersName"/>
        </association>
        <association property="depts" javaType="com.study.model.pojo.power.Dept">
            <id column="dept_id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
    <!--联表 模糊查询-->
    <select id="seActivity" resultMap="ActivityMap">
        select * from activity ai
                      left join users us on ai.activity_user=us.users_id
                      left join dept dt on dt.dept_id=ai.activity_dept
        <where>
            <if test="activityName != null and '' != activityName">
                and ai.activity_name like concat('%',#{activityName},'%')
            </if>
            <if test="activityAddress != null and '' != activityAddress">
                and ai.activity_address like concat('%',#{activityAddress},'%')
            </if>
        </where>
        order by ai.activity_id desc
    </select>
    <!--查询所有-->
    <select id="seAct" resultType="com.study.model.pojo.presale.Activity">
        select * from activity
    </select>
    <!--新增活动-->
    <insert id="inActivity" parameterType="com.study.model.pojo.presale.Activity">
        insert into activity(activity_id,activity_dept,activity_name,activity_user,activity_start,
                             activity_over,activity_address,activity_type,activity_state,
                             activity_plan_cost,activity_reality_cost,activity_plan,
                             activity_plan_income,activity_reality_income,)
        values (#{activityId},#{depts.deptName},#{activityName},#{users.usersName},#{activityStart},
                #{activityOver},#{activityAddress},#{activityType},#{activityState},#{activityPlanCost}
                #{activityRealityCost},#{activityPlan},#{activityPlanIncome},activityRealityIncome)
    </insert>
</mapper>