<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.presale.ClueMapper">
    <resultMap id="ClueMap" type="com.study.model.pojo.presale.Clue">
        <id column="CLUE_ID" property="clueId"/>
        <result column="CLUE_NAME" property="clueUser"/>
        <result column="CLUE_COMPANY" property="clueCompany"/>
        <result column="CLUE_POST" property="cluePost"/>
        <result column="CLUE_CO_STATE" property="clueGoState"/>
        <result column="CLUE_DUTY" property="clueDuty"/>
        <result column="CLUE_STATE" property="clueState"/>
        <result column="CLUE_TIME" property="clueTime"/>
        <result column="CLUE_PHONE" property="cluePhone"/>
    </resultMap>
</mapper>