<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.presale.ClueMapper">
    <resultMap id="clueMap" type="com.study.model.pojo.presale.Clue">
        <id column="clue_id" property="clueId"/>
        <result column="clue_name" property="clueName"/>
        <result column="clue_company" property="clueCompany"/>
        <result column="clue_post" property="cluePost"/>
        <result column="clue_go_state" property="clueGoState"/>
        <result column="clue_duty" property="clueDuty"/>
        <result column="clue_state" property="clueState"/>
        <result column="clue_time" property="clueTime"/>
        <result column="clue_phone" property="cluePhone"/>
        <association property="users" javaType="com.study.model.pojo.power.Users">
            <id column="users_id" property="usersId"/>
            <result column="users_fullname" property="usersFullname"/>
        </association>
    </resultMap>
    <select id="selectClue" resultMap="clueMap">
        select * from clue cl
                      left join users us on cl.clue_user=us.users_id
        <where>
            <if test="clueName != null and '' != clueName">
                and cl.clue_name like concat('%',#{clueName},'%')
            </if>
        </where>
        order by cl.clue_id desc
    </select>
    <select id="seClue" resultType="com.study.model.pojo.presale.Clue">
        select * from clue;
    </select>
    <insert id="inClue" parameterType="com.study.model.pojo.presale.Clue">
        insert into clue(clue_id,clue_name,clue_user,clue_company,clue_post,
                         clue_go_state,clue_duty,clue_state,clue_time,clue_phone)
        values(0,#{clueName},#{users.usersId},#{clueCompany},#{cluePost},
               #{clueGoState},#{clueDuty},#{clueState},#{clueTime},#{cluePhone})
    </insert>
</mapper>