<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis的映射文件：一个映射文件，对应一个Mapper接口-->
<!--根标签是mapper
        属性namespace 用来关联指定Mapper接口的全类名-->
<mapper namespace="com.study.model.mapper.power.RoleModuleMapper">
    <resultMap id="roleModuleResult" type="com.study.model.pojo.power.RoleModule">
        <id property="id" column="id"/>
        <association property="module" column="module_id"
                     select="com.study.model.mapper.power.ModuleMapeer.selectByModuleId"
                     javaType="com.study.model.pojo.power.Module">

        </association>
    </resultMap>

    <select id="selectByRoleId" resultMap="roleModuleResult">
        select * from role_module where role_id=#{roleid}
    </select>

    <insert id="insertRoleModule">
        insert into role_module values (null,#{role.roleId},#{module.moduleId})
    </insert>

    <delete id="deleteByRoleId">
        delete from role_module where role_id=#{roleid}
    </delete>
</mapper>