<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis的映射文件：一个映射文件，对应一个Mapper接口-->
<!--根标签是mapper
        属性namespace 用来关联指定Mapper接口的全类名-->
<mapper namespace="com.study.model.mapper.power.RoleMapper">
    <resultMap id="morenResult" type="com.study.model.pojo.power.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_desc" property="roleDesc"/>
        <result column="role_status" property="roleStatus"/>
    </resultMap>
    <select id="selectByRoleIdNogx" resultMap="morenResult">
        select * from `role` where role_id=#{roleid}
    </select>


    <resultMap id="roleResult" type="com.study.model.pojo.power.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_desc" property="roleDesc"/>
        <result column="role_status" property="roleStatus"/>
        <collection property="roleModule" select="com.study.model.mapper.power.RoleModuleMapper.selectByRoleId"
                    column="role_id"
                    ofType="com.study.model.pojo.power.RoleModule">

        </collection>
    </resultMap>
    <select id="selectByRoleId" resultMap="roleResult">
        select * from `role` where role_id=#{roleid}
    </select>

    <resultMap id="allResult" type="com.study.model.pojo.power.Role" extends="roleResult">
        <collection property="usersRole" select="com.study.model.mapper.power.UsersRoleMapper.ByRoleId"
                    column="role_id"
                    ofType="com.study.model.pojo.power.UsersRole">

        </collection>
    </resultMap>

    <select id="selectAll" resultMap="allResult">
        select * from `role` order by role_id desc
    </select>
</mapper>