<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis的映射文件：一个映射文件，对应一个Mapper接口-->
<!--根标签是mapper
        属性namespace 用来关联指定Mapper接口的全类名-->
<mapper namespace="com.study.model.mapper.power.UsersMapper">
    <resultMap id="usersResult" type="com.study.model.pojo.power.Users">
        <id property="usersId" column="users_id"/>
        <result property="usersName" column="users_name"/>
        <result property="usersPwd" column="users_pwd"/>
        <result property="usersFullname" column="users_fullname"/>
        <result property="usersSex" column="users_sex"/>
        <result property="usersBrith" column="users_brith"/>
        <result property="usersPhone" column="users_phone"/>
        <result property="usersEmail" column="users_email"/>
        <result property="usersImgs" column="users_imgs"/>
        <result property="state" column="state"/>
        <association property="ajob" column="ajob_id"
                     select="com.study.model.mapper.power.AjobMapper.selectByAjobIdNoUsers"
                     javaType="com.study.model.pojo.power.Ajob">

        </association>
        <association property="dept" column="dept_id"
                     select="com.study.model.mapper.power.DeptMapper.selectByDeptIdNoUsers"
                     javaType="com.study.model.pojo.power.Dept">

        </association>

    </resultMap>

    <select id="selectAll" resultMap="usersResult" parameterType="com.study.model.vojo.power.UsersVo">
        select * from users
        <where>
            <if test="name!=null and name!=''">
                and users_fullname like concat("%",#{name},"%")
            </if>
            <if test="deptid!=null and deptid>0">
                and dept_id=#{deptid}
            </if>
            <if test="ajobid!=null and ajobid>0">
                and ajob_id=#{ajobid}
            </if>
            <if test="state!=null and state!=2">
                and `state`=#{state}
            </if>
        </where>
        order by users_id desc
    </select>

    <!--  public List<Users> selectAlls();-->
    <select id="selectAlls" resultType="com.study.model.pojo.power.Users">
        select * from users
    </select>

    <select id="selectByUsersName" resultMap="usersResult">
        select * from users where users_name=#{name}
    </select>

    <select id="selectByUsersId" resultMap="usersResult">
        select * from users where users_id=#{id}
    </select>

    <select id="selectByAjobId" resultMap="usersResult">
        select * from users where ajob_id=#{ajobid} order by users_id desc
    </select>

    <select id="selectByDeptId" resultType="com.study.model.pojo.power.Users">
        select * from users where dept_id=#{deptid} order by users_id desc
    </select>

    <insert id="insertUsers">
        insert into users values (null,
                                  #{usersName},
                                  #{usersPwd},
                                  #{usersFullname},
                                  #{usersSex},
                                  #{usersBrith},
                                  #{usersPhone},
                                  #{usersEmail},
                                  #{usersImgs},
                                  #{state},
                                  #{ajob.ajobId},
                                  #{dept.deptId}
                                  )
    </insert>

    <update id="updateUsers">
        update users set users_name=#{usersName},
                         users_pwd=#{usersPwd},
                         users_fullname=#{usersFullname},
                         users_sex=#{usersSex},
                         users_brith=#{usersBrith},
                         users_phone=#{usersPhone},
                         users_email=#{usersEmail},
                         users_imgs=#{usersImgs},
                         ajob_id=#{ajob.ajobId},
                         dept_id=#{dept.deptId}
        where users_id=#{usersId}
    </update>

    <update id="updateUsersState">
        update users set `state`=#{state}
        where users_id=#{usersid}
    </update>
</mapper>