<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis的映射文件：一个映射文件，对应一个Mapper接口-->
<!--根标签是mapper
        属性namespace 用来关联指定Mapper接口的全类名-->
<mapper namespace="com.study.model.mapper.power.UsersRoleMapper">
    <resultMap id="usersRoleResult" type="com.study.model.pojo.power.UsersRole">
        <id column="id" property="id"/>
        <association property="role" column="role_id"
                     javaType="com.study.model.pojo.power.Role"
                     select="com.study.model.mapper.power.RoleMapper.selectByRoleId">

        </association>
    </resultMap>

    <resultMap id="roleGetUsers" type="com.study.model.pojo.power.UsersRole">
        <id column="id" property="id"/>
        <association property="users" column="users_id"
                     javaType="com.study.model.pojo.power.Users"
                     select="com.study.model.mapper.power.UsersMapper.selectByUsersId">

        </association>
    </resultMap>
<!--    onlyById只做验证-->
    <resultMap id="onlyById" type="com.study.model.pojo.power.UsersRole">
        <id column="id" property="id"/>
    </resultMap>

    <select id="selectByUsersId" resultMap="usersRoleResult">
        select * from users_role where users_id=#{usersid}
    </select>

    <select id="ByRoleId" resultMap="roleGetUsers">
        select * from users_role where role_id=#{roleid}
    </select>

    <select id="byUsersRole" resultMap="onlyById">
        select id from users_role where role_id=#{role.roleId} and users_id=#{users.usersId}
    </select>

    <insert id="insertUsersRole">
        insert into users_role values (null,#{users.usersId},#{role.roleId})
    </insert>

    <delete id="deleteByUsersId">
        delete from users_role where users_id=#{usersid}
    </delete>

    <delete id="deleteByRoleId">
        delete from users_role where role_id=#{roleid}
    </delete>
</mapper>