<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis的映射文件：一个映射文件，对应一个Mapper接口-->
<!--根标签是mapper
        属性namespace 用来关联指定Mapper接口的全类名-->
<mapper namespace="com.study.model.mapper.power.UsersRoleMapper">
    <resultMap id="usersRoleResult" type="com.study.model.pojo.power.UsersRole">
        <id column="id" property="id"/>
        <association property="role" column="role_id"
                     javaType="com.study.model.pojo.power.Role"
                     select="com.study.model.mapper.power.RoleMapper.selectByRoleId">

        </association>
    </resultMap>

    <select id="selectByUsersId" resultMap="usersRoleResult">
        select * from users_role where users_id=#{usersid}
    </select>

    <select id="ByRoleId" resultMap="usersRoleResult">
        select * from users_role where role_id=#{roleid}
    </select>

    <insert id="insertUsersRole">
        insert into users_role values (null,#{users.usersId},#{role.roleId})
    </insert>

    <delete id="deleteByUsersId">
        delete from users_role where users_id=#{usersid}
    </delete>
</mapper>