<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.aftersale.AttachmentMapper">
        <!-- 根据回款编号查询附件资料-->
        <select id="fjzlcx" resultType="com.study.model.pojo.aftersale.Attachment">
            select * from attachment
            <where>
                <if test="nr !=null and nr !=''">
                    attachment_hkid=#{nr}
                </if>
            </where>
        </select>
</mapper>