<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.aftersale.PapertypeMapper">
    <select id="pjlxcx" resultType="com.study.model.pojo.aftersale.Papertype">
        select * from papertype
    </select>
</mapper>