<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.insale.RefundproMapper">

    <resultMap id="baseMap" type="com.study.model.pojo.insale.Refundpro">
        <id column="refundpro_id" property="refundproId"/>
        <result column="pro_num" property="proNum"/>
        <!-- private Product product;//产品-->
        <association property="product" javaType="com.study.model.pojo.product.Product">
            <id property="proId" column="pro_id"/>
            <result property="proName" column="pro_name"/>
            <result property="proPrice" column="pro_price"/>
        </association>
    </resultMap>

    <!-- public List<Refundpro> selectByRid(Integer rid);-->
    <select id="selectByRid" resultMap="baseMap">
        select refundpro_id,pro_num,p.pro_id,p.pro_price,p.pro_name,r_id from refundpro
        left join product p on p.pro_id = refundpro.pro_id
        where r_id = #{rid}
        order by refundpro_id desc
    </select>

</mapper>