
spring:
  datasource:
    url: jdbc:mysql://47.94.2.97:3306/crm?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
    password: 123456
    username: crm
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    filter: stat
  jpa:
    show-sql: true

server:
  port: 8086

mybatis:
  mapper-locations: classpath*:mapper/*/*.xml #mapper映射
  type-aliases-package: com.study.cj.model.pojo
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true


logging:
  level:
    com:
      study:
        model:
          mapper: debug
