<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mapper.product.ProductMapper">
    <resultMap id="ProMap" type="com.study.model.pojo.product.Product">
        <id property="proId" column="pro_id"></id>
        <result property="proName" column="pro_name"></result>
        <result property="proTypeId" column="pro_type_id"></result>
        <result property="proState" column="pro_state"></result>
        <result property="proPerson" column="pro_person"></result>
        <result property="proUnit" column="pro_unit"></result>
        <result property="proPrice" column="pro_price"></result>
        <result property="proInventoryState" column="pro_inventory_state"></result>
        <result property="proInventoryAmount" column="pro_inventory_amount"></result>
        <result property="proInventoryUsable" column="pro_inventory_usable"></result>
        <result property="proInventoryLock" column="pro_inventory_lock"></result>
        <result property="proModel" column="pro_model"></result>
        <result property="proDescribe" column="pro_describe"></result>
        <result property="proDate" column="pro_date"></result>
        <result property="proBar" column="pro_bar"></result>

        <association property="type" javaType="com.study.model.pojo.product.Type">
            <id property="typeId" column="type_id"></id>
            <result property="typeName" column="type_name"></result>
            <result property="parentId" column="parent_id"></result>
        </association>
        <association property="users" javaType="com.study.model.pojo.power.Users">
            <id property="usersId" column="users_id"/>
            <result property="usersName" column="users_name"/>
            <result property="usersFullname" column="users_fullname"/>
        </association>

    </resultMap>

    <!--查询所有产品-->
    <select id="selPro" resultMap="ProMap">
        select * from product p left join type t on p.pro_type_id = t.type_id
        left join users u on p.pro_person = u.users_id
<!--        <where>-->
<!--            <if test="proTypeId != '' and proTypeId != null ">-->
<!--                and pro_type_id = #{proTypeId}-->
<!--            </if>-->
<!--            -->
<!--        </where>-->
    </select>

    <!--新增产品-->
    <insert id="insertPro">
        insert into product values (#{proId},#{proName},#{proTypeId},#{proState},#{proPerson},#{proUnit},
        #{proPrice},#{proInventoryState},#{proInventoryAmount},#{proInventoryUsable},#{proInventoryLock},
        #{proModel},#{proDescribe},current_timestamp ,#{proBar})
    </insert>

</mapper>